<div id="search">
          <header>
            <h1>Rijksmuseum collectie</h1>
          </header>

          <form method="post" action="/search" class="search-form">
          <label>Search</label>
            <input type="text" name="search[value]"id="userInput" enctype="multipart/form-data" placeholder= "Who is your favorite painter?" required>
            <input type="submit" id="submit" class="button">
          </form>
          <div id="painting-overview">

          {{#each data.artObjects}}
            <a href= '/details/{{objectNumber}}' id= "{{objectNumber}}" class ="item">
              {{#if headerImage}}
                  <div class="img">
                    <img src="{{headerImage.url}}"><img>
                  </div>
              {{else}}
                <div class="img">
                  <img src="images/background_black.svg"><img>
                </div>
              {{/if}}
              <div>
                 <h2>{{principalOrFirstMaker}}</h2>
                 <p>{{title}}</p>
              </div>
            </a>
          {{/each}}
          </div>
      </div>
</section>
